$color-primary: #03A69E;
$color-white: #fff;
$color-grey: #e7efee;

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Merienda One', cursive;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  height: 100vh;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/random-quote-machine-7b8c5.appspot.com/o/random-bg.jpg?alt=media&token=48266f4f-c08b-40bb-b1b6-d97c3f34531e');
}

#quote-box {
  font-family: sans-serif;
  // text-align: center;
  padding: 8rem 4rem 4rem;
  height: calc(100vh - 20%);
}

.quote {
  font-size: 8rem;
  // max-height: 50rem;
  border-bottom: 2px solid $color-primary;
  margin-bottom: 3.2rem;
  padding-bottom: 2rem;
  position: relative;

  img {
    position: absolute;
    top: -6rem;
    right: 0;
    z-index: -10000;
    opacity: .2;
    height: 25rem
  }
}

.quote-info-and-actions {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;

  .new-quote-cta-box {
    #new-quote {
      background-color: $color-primary;
      color: $color-white;
      font-size: 1.4rem;
      padding: 1.2rem 3.2rem;
      border: none;
      box-shadow: 0 6px 20px -10px rgba(0,0,0,.8);
      transition: box-shadow .2s;

      &:hover {
        box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.9);
        cursor: pointer;
      }
    }

    #tweet-quote {
      text-decoration: none;
      color: $color-primary;
      padding: 1.2rem 1.2rem;
      margin-left: 1.2rem;
      transition: all .2s;

      &:hover {
        background-color: $color-grey;
        cursor: pointer;
      }
    }
  }
}
